<!DOCTYPE html>
<html>
<head>
    <title>Perfil</title>
</head>
<body>
    <h1> Perfil de Usuario</h1>
  
    <ul>
        <li>
            <strong>Nombre:</strong> <%= usuario.name %><br>
            <strong>Email:</strong> <%= usuario.email %><br>
            <strong>Usuario:</strong> <%= usuario.userName %>
        </li>
    </ul>
</body>
</html>
