<!-- productos.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Productos Creados </h1>
    <ul>
        <% products.forEach(producto => { %>
          <li>
            <strong>Id:</strong> <%= producto.idProduct %><br>
            <strong>Nombre:</strong> <%= producto.name %><br>
            <strong>Descripción:</strong> <%= producto.description %><br>
            <strong>Precio:</strong> <%= producto.price %>
          </li>
        <% }); %>
    </ul>
</body>
</html>
